{% extends "baseadmin.html.twig" %}
{% block body %}
    <p class ="text-end">
        <a href="{{ path('admin.categorie.ajout') }} " class ="btn btn-primary">
            Ajouter une nouvelle catégorie
        </a>
    </p>
    <table class="table table-striped" aria-describedby = "liste formations">
        <thead>
            <tr>
                <th class="text-left align-top" scope="col">       
                </th>
            </tr>
        </thead>
        <tbody>
            {% for k in 0..categories|length-1 %}
                <tr class="align-middle">
                    <td class = "text-left">
                        <h5 class="text-info">
                            {{ categories[k].name }}
                        </h5>
                    </td>
                    <td class ="text-right" style = "text-align: right">
                        <a href="{{ path('admin.categories.edit', {id:categories[k].id}) }}" class ="btn btn-secondary">Editer</a>
                         {% if categories[k]|length != 0 %}
                            <a href="#" class ="btn btn-light">Supprimer</a>
                        {% else %}
                            <a href="{{ path('admin.categories.suppr', {id:categories[k].id}) }}" class ="btn btn-danger" onclick="return confirm('Etes-vous sûr de vouloir supprimer {{ categories[k].name }} ?')">Supprimer</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
